<header class="header">
    <nav class="nav">
      <div class="logo">
        <div class="logo__image-container">
          <img src="../../assets/shared/logo.svg" alt="Logo of the website Space tourism" class="logo__image">
        </div>
      </div>
      <div class="menu">
        <div class="menu__close">
          <div class="menu__image-container">
            <img src="../../assets/shared/icon-close.svg" alt="Icon close" class="menu__image-close">
          </div>
        </div>
        <div class="menu__tabs">
          <a href="../../index.html" class="menu__tab">
            <span class="menu__number">00</span>
            <span class="menu__title" data-name="home">Home</span>
             </a>
          <a href="../destination.html" class="menu__tab">
            <span class="menu__number">01</span>
            <span class="menu__title" data-name="destination">Destination</span>
             </a>
          <a href="../crew.html" class="menu__tab">
            <span class="menu__number">02</span>
            <span class="menu__title" data-name="crew">Crew</span>
             </a>
          <a href="../technology.html" class="menu__tab">
            <span class="menu__number">03</span>
            <span class="menu__title" data-name="technology">Technology</span>
             </a>
        </div>
      </div>
      <div class="menu__hamburger">
        <div class="menu__image-container">
          <img src="../../assets/shared/icon-hamburger.svg" alt="Icon menu hamburger" class="menu__image-hamburger">
        </div>
      </div>
    </nav>
  </header>